#initial{
    width: 100vw;
    height: 100vh;
    color: rgb(15, 94, 214);
    background-image: url(../../assets/astronomia2.jpeg);
    background-size: cover;
    background-position: center;
    /*flex-direction: row;*/    
    /*padding: 10px 0 0 0;*/
    /*justify-content: center;
    align-items: center*/ 
}

#hh{
    height: 200px;
    width: 100px;
}

#inputGridLogin{
    width: 250px;
}

#inputGridPassword{
    width: 250px;
}

#loginn{
    margin-bottom: 20px;
}

#erro{
    color: red;
    font-size: 13px;
}

#form{
    width: 33%;
    height: 90vh;
    background: #ffffff;
    background-color: #c2d5ff;
    font-size: 14px;
    font-weight: bold;
    color: black;
    padding: 15px 15px 15px 15px ; 
    margin: 30px 385px 0 0;
    border-radius: 18px;
    opacity : 0.9;
   /* border-left-style: solid;
    border-left-color: black;
    border-left-width: 2px;*/
    /* box-shadow: 5px 5px 7px rgba(0,0,0,0.5); */
    float: right;
  
} 

#cadastrar{
   margin: 30px 140px 10px 0;
   font-family: 'Segoe UI';
} 

#entrar{
    margin: 20px 50px 0 0;
    font-family: 'Segoe UI';
} 


#image{
    width: 22vh;
    height: 22vh;
    background-color: #c2d5ff;
    /* margin: 10px 0 20px 20px; */
    margin-left: 90px;
    /* background-size: 100%; */
    border-color: #c2d5ff;
    
}

#title2{
    margin-left: 120px; 
    font-family: 'Segoe UI';
    color: #575d80;
    font-size: 32px;
}

#title{
  background-color: black;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Segoe UI';
  color: #575d80;
  font-size: 28px;
}

#forget{
    font-size: 12px;
    font-weight: bold;
    color: #575d80;
    font-family: 'Segoe UI';
} 

#info{
    font-family: 'Segoe UI';
    font-size: 16px;
    font-style: normal;
    color: #575d80;
}

