* {
    margin: 0 0;
    padding: 0 0;
  }
  a {
    outline: none;
  }

#school{
    height: 100%;
    width: 100%;
}

#contentSchool{
    height: 90vh;
    width: 100%;
}

#rightSchool{
    margin: 50px 75px;
    height: 40vh;
    width: 70vw;
    float: right;
} 

#leftSchool{
    width: 15vw;
    height: 110vh;
    float: left;
    background-color: #eee;
    
}

#endSection{
    margin: 350px 0 0 0;
}

#menu{
    margin: 50px 0 0 0;
}

#asd{
    width: 101vw;
}

