* {
    margin: 0 0;
    padding: 0 0;
  }
  a {
    outline: none;
  }

  #schoolUser{
    background-image: url(../../assets/contato.png);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
  }

#rightSchool{
    margin: 30px auto 0 auto; 
    height: 85vh;
    width: 80vw;
    float: right;
    background-color: white;
    overflow-y: auto;
    padding: 10px;
   
} 

#leftSchool{
    width: 15vw;
    height: 100vh;
    float: left;
    background-color: white;   
}

/* #div_sidebar {
    width: 15vw;
    height: 100vh;
    float: left;
    background-color: white;
  } */
  
  .MuiPaper-root {
    flex-wrap: wrap;
    width: 70vw;
    height: 70vh;
  } 
