#headerForm{
    width: 100%;
    height: 10vh;
} 

/* #iconer{
    width: 6%;
    float: left;
    background-color: red;
    height: 10vh;
} */
#rightSideman{
    /* width: 94%; */
    width: 100%;
    height: 10vh;
    background: #c2d5ff;
    font-size: 30px;
    font-weight: bold;
    font-style: oblique;
    color: #575d80;
    font-family: sofia;
    /* font-family: 'Lucida Sans'; */
    /* align-items: center; */
    padding: 16px 20px 20px 15px;
    /* position: center; */
    /*background-image: url('../../pages/initial/image1.png');
    background-size: 400px;
    background-position: center;*/
    float: right;
}

#frase{
    float: right;
    font-size: 17px;
} 

#imagess{
    width: 100%;
    height: 10vh;
    background-color: red;
}