#leftSideT{
    height: 135vh;
    width: 100%;
    /* background-color: rgb(192, 192, 250);  */
    background-color: white;
    padding: 20px 0 0 0;
}

#formsT{
    height: 117vh;
    width: 85%;
    background-color: white;
    color: black;
    /* color: #363d66; */
    padding: 10px 15px 15px 15px;
    margin: 0 auto;
    border-radius: 10px;
}

#contentForm{
    width: 100%;
    height: 135vh;
}