#schedulings{
    width: 100vw;
    height: 100vh;
}

#titleScheduling{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: #575d80;
}

#head{
    margin: 20px 0 20px 20px;
}

#item{
    margin: 10px auto 10px auto;
    width: 800px;
}

#list{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 20px;
    
}


#test{
    margin: 0 10px 0 0;
}

#button{ 
    margin: 0 0 0 auto;
    display: block;
    width: 300px;
}

#view{
    margin: 0 10px 0 10px;  
    height: 40px;
    width: 150px;
}
#cancel2{
    width: 120px;
    margin-left: auto;
}

#data{
    font-size: 20px;
    margin: 0 0 0 0;
} 

#responsavel{
    font-size: 20px;
    margin: 0 0 0 10px; 
}