/* #table{
    font-family: 'Segoe UI';
    font-size: 16px;
    color: #4a4f6d;

}

.linha1{
    color: rgb(34, 31, 31);
    font-size: 16px;
    justify-content:center;
    align-items: center
}

#titleCalendar{
   margin: 0 0 0 370px;
   font-size: 18px;
   color: #575d80;
} */

#content{
    width: 100vh;
    height: 100vh;

}
#bodyContent{
    width: 100vw;
    height: 90vh;
    background-color: darkblue;
}

#contentLeft{
    width: 15%;
    height: 90vh;
    background-color: blue;
    float: left;
}

#contentRight{
    width: 85%;
    height: 90vh;
    background-color: chartreuse;
    float: right;
}

#headerContent{
    width: 100vw;
    height: 10vh;
    background-color: brown;
}

#rightSideContent{
    
    float: right;
    width: 40%;
    height: 90vh;
    /* margin: 50px 0px 0 100px; */
    padding: 50px 10px 0 10px;
    background-color: white;
    border-left-color: #575d80;
    border-left-width: 1px;
    border-left-style: solid;
}

#leftSideContent{
    float: left;
    width: 60%;
    height: 90vh;
    background-color: white;
    padding: 10px;
}

#buttons{
    margin: 280px 0 0 10px;
}

#save{
    margin:  0px 220px 25px 0px;
} 

#formGridName{
    width: 100px;
}

#formGridBegin{
    width: 100px;

}

#formGridDay{
    width: 150px;
}

#add{
    margin: 30px 30px 0 10px;
    height: 40px;
    /* float: right; */
}

#Registers{
    /* padding: 50px 0 0 0; */
    /* width: 50%; */
    /* float: right; */
} 

#titleContent{
    margin: 0 0 20px 10px;
    font-size: 26px;
    color: #575d80;
}

#hhhhh{
    width: 50px;
}


#headerContent{
    width: 100vw;
    height: 10vh;
    background-color: #c2d5ff;
}

#buttonsCalendar{
    /* width: 70%; */
    /* float: left; */
}
#info{
    margin: 10px 0 50px 0;
}

