@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

#navbar_padrao {
  height: auto;
  /*width: 100vw*/
  width: auto;
  /*background-color: white !important;*/
  @include for-phone-only {
    height: auto;
  }
}

.navbar-brand,
#navbar_padrao .navbar-nav .nav-link {
  color: black !important;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  @include for-phone-only {
    font-size: 12px;
  }
}

.navbar-brand:hover,
#navbar_padrao .navbar-nav:hover .nav-link:hover {
  color: #007bff !important;
}

#logo_padrao {
  width: 140px;
  margin-left: 18px;
  @include for-phone-only {
    width: 65px;
  }
}
#titulo_padrao {
  @include for-phone-only {
    font-size: 15px;
  }
}

.dropnav {
  @include for-phone-only {
    font-size: 12px !important;
  }
}
