* {
    margin: 0 0;
    padding: 0 0;
  }
  a {
    outline: none;
  }
  
  #div_sidebar {
    width: 15vw;
    height: 100vh;
    float: left;
    background-color: #eee;
  }
  
  #div_screen {
    margin: 100px 75px;
    height: 50vh;
    width: 70vw;
    float: right;
    /* overflow: auto; */
  }
  
  .MuiPaper-root {
    flex-wrap: wrap;
    width: 70vw;
    height: 70vh;
  }
  