@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

#titulo_atracoes {
  @include for-phone-only {
    font-size: 20px;
  }
}

#texto_atracoes {
  padding-top: 10px;
  @include for-phone-only {
    font-size: 15px;
    padding-bottom: 10px;
  }
}

#nome_atracao {
  @include for-phone-only {
    font-size: 20px;
  }
}

#legenda_atracao {
  @include for-phone-only {
    font-size: 12px;
  }
}
