@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
.fc-today {
  background-color: inherit !important;
}

#titulo_calendario {
  @include for-phone-only {
    font-size: 20px;
  }
}

#texto_calendario {
  @include for-phone-only {
    font-size: 15px;
  }
}
