@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

.MuiTextField-root {
  background-color: white !important;
}

#contato_titulo {
  color: #007bff;
  //color: white;
  //text-align: center;
  @include for-phone-only {
    font-size: 20px;
    //color: white;
    //-webkit-text-stroke-width: 0.5px; /* largura da borda */
    //-webkit-text-stroke-color: black; /* cor da borda */
  }
}

#contato_dados {
  margin-top: 10px;
  @include for-phone-only {
    font-size: 15px;
  }
}
