@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

#navbar_home {
  height: auto;
  width: 100vw;
  background-color: white !important;
  opacity: 0.95;
  @include for-phone-only {
    height: auto;
  }
}

.navbar-brand,
#navbar_home .navbar-nav .nav-link {
  color: black !important;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  @include for-phone-only {
    font-size: 12px;
  }
}

.navbar-brand:hover,
#navbar_home .navbar-nav:hover .nav-link:hover {
  color: #007bff !important;
  border-bottom: 2px solid #007bff;
}

#logo {
  width: 90px;
  @include for-phone-only {
    width: 50px;
  }
}
#titulo {
  @include for-phone-only {
    font-size: 12px;
  }
}

.dropnav {
  text-decoration: none !important;
  color: black !important;
  @include for-phone-only {
    font-size: 12px !important;
  }
}
