@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

#welcome {
  padding: 130px 100px 0 100px;
  @include for-phone-only {
    font-size: 20px;
    padding: 130px 0px 0 0px;
  }
}

#texto_welcome {
  padding: 0 100px 0 100px;
  @include for-phone-only {
    font-size: 15px;
    padding: 0;
  }
}

#teste {
  margin-top: 30px;
 
  border-width: 0;
  @include for-phone-only {
    margin-top: 0;
  }
}
