#leftSide {
  float: left;
  background-color: white;
}

#rightSide {
  float: right;
  background-color: #c2d5ff;
  background-size: 100%;
}

#ccf {
  width: 60px;
}

#formBasicDay {
  width: 160px;
}

/* #formBasicNumber{
    width: 60px; 
} */

#header {
  background-color: #c2d5ff;
}

#teste2 {
  margin-top: 20px;
}

#teste2:focus,
#teste2:active:focus,
#teste2.active:focus {
  box-shadow: none;
}
