#leftSide{
    float: left;
    background-color: white;
}

#rightSide{
    float: right;
    background-color: #c2d5ff;
    background-size: 100%;
}

#ccf{
    width: 60px;
}

#formBasicDay{
    width: 160px;
}

/* #formBasicNumber{
    width: 60px; 
} */

#header{
    background-color: #c2d5ff;
}