* {
  margin: 0 0;
  padding: 0 0;
}
a {
  outline: none;
}

#div_sidebar {
  width: 15vw;
  height: 100vh;
  float: left;
  background-color: #eee;
}

#div_screen {
  padding-top: 100px;
  margin-right: 70px;
  height: 100vh;
  width: 70vw;
  float: right;
}
